@page "/contacts"

<h2>Medical Contacts</h2>

<AuthorizeView>
    <Authorized>
        <h1>Contacts</h1>
        <br>

        <p><em>Loading...</em></p>

        <table class="table">
            <thead>
                <tr>
                    <th>Office</th>
                    <th>Name</th>
                    <th>Specialty</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Metro Pediatric Services</th>
                    <th>Dr. John Doe</th>
                    <th>Nurse Practitioner</th>
                    <th>(444)444-444</th>
                </tr>
            </tbody>
        </table>

        <br />

        <h2>Personal Contacts</h2>

        <p><em>Loading...</em></p>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Relation</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Jane Doe</th>
                    <th>Domestic Partner</th>
                    <th>(444)444-444</th>
                </tr>
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        Seems like you are not logged in! Please log in or register in order to access our services.
    </NotAuthorized>
</AuthorizeView>

@code {




}
