@page "/"

<h1 style="text-align: center">Welcome to RemindMed! </h1>
<br />
<br />
<br />

<h2>Meet the team: </h2>
<hr />
<br />
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/Images/jason-cropped.png" alt="Jason Navarette" asp-append-version="true" style="width:100%">
            <div class="container">
                <h2>Jason Francis Navarrete</h2>
                <p class="title">Web Developer</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/Images/Alejandro-Zuniga.png" alt="Alejandro Zuniga" asp-append-version="true" style="width:100%">
            <div class="container">
                <h2>Alejandro Zuniga</h2>
                <p class="title">Web Developer</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/Images/grace.jpg" alt="Grace Zheng" asp-append-version="true" style="width:100%">
            <div class="container">
                <h2>Grace Zheng</h2>
                <p class="title">Web Developer</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/Images/bruno.jpg" alt="Bruno Esquivel" asp-append-version="true" style="width:100%">
            <div class="container">
                <h2>Bruno Esquivel</h2>
                <p class="title">Project Management</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/Images/logo-man.png" alt="Jesse Macias" asp-append-version="true" style="width:100%">
            <div class="container">
                <h2>
                    Jesse Macias
                </h2>
                <p class="title">Project Management</p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<h1>About us: </h1>
<hr />
<br />
<h5>
    RemindMed is a webapp with an easily navigable interface that provides personalized summaries of what medications a user is taking. By taking user-provided information, it first creates a tailored set of current prescriptions as well as an inventory based on the number of doses currently available and the doses taken per day. 
    From this information, the webapp projects how much time is left between now and when the medication should be refilled or when the current prescription will be finished. Each time a dose of medication should be administered, based on a schedule received from the user, the application will request an update and collect data on the time the dosage was received. This information will be compiled and revisualized as a graph so that users can see administration timeliness and progress over time. RemindMed provides an additional contact list that will be used to organize healthcare providers and personal contacts so that they can be stored and visualized in a single platform.
</h5>




<br />
<br />
<br />
<h1>Why use RemindMed?</h1>
<hr />
<p>MedRemind creates an accessible, personalized medication organizing service that encourages users to take their medication and provides real-time prescription details.</p>
<br />
<h5>
    RemindMed creates an accessible, personalized medication organizing service that encourages users to take their medication and provides real-time prescription details.
</h5>
<br />
<br />



<style>
    /* Three columns side by side */
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }


    /* Add some shadows to create a card effect */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    /* Some left and right padding inside the container */
    .container {
        padding: 0 16px;
    }

        /* Clear floats */
        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

        .button:hover {
            background-color: #555;
        }
</style>