@page "/"

<h1>Welcome to MedRemind, @authState.User.Identity.Name; </h1>
<br />



@code {




    // Getting user info
    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }
    // Concatenating the name of the user
    private string[] emailAddress; 
    


    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
    }

}