@page "/insights"


@using MedRemind.Data
<h3>Insights</h3>
<br />

<AuthorizeView>
    <Authorized>
        <p class="well">Please input information about your medication in order to add it to your list of medications.</p>

        <div class="col-sm-3">
            <div class="well">
                <h4>Users</h4>
                <p>1 Million</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row content">

                <div class="col-sm-8">
                    <div class="well">
                        <h4>Dashboard</h4>
                        <p>Some text..</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Users</h4>
                                <p>1 Million</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Pages</h4>
                                <p>100 Million</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Sessions</h4>
                                <p>10 Million</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Bounce</h4>
                                <p>30%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="well">
                                <p>Text</p>
                                <p>Text</p>
                                <p>Text</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well">
                                <p>Text</p>
                                <p>Text</p>
                                <p>Text</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well">
                                <p>Text</p>
                                <p>Text</p>
                                <p>Text</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="well">
                                <p>Text</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well">
                                <p>Text</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </Authorized>

    <NotAuthorized>
        Seems like you are not logged in! Please log in or register to access our services.
    </NotAuthorized>
</AuthorizeView>

@code {

}
