@page "/newmedications"
@using MedRemind.Data;


<h3>New Medications</h3>
<br />

@code{
    /*
        Please make sure to make a form that asks the user about the medication. 
        Some questions could be: 
        1) Name of Medication
        2) Number of tablets in your prescription
        3) Number of tablets you need to take in a single day and at what time. 
        4) Refilld date
        4) etc.
    */
}

<AuthorizeView>
    <Authorized>
        <p>These are your current Medications.</p>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Treats</th>
                    <th>Mgs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Adderall IR</th>
                    <th>ADHD</th>
                    <th>10</th>
                </tr>
                <tr>
                    <th>Vicodin</th>
                    <th>Pain</th>
                    <th>10</th>
                </tr>
                <tr>
                    <th>Zocor</th>
                    <th>High cholester</th>
                    <th>10</th>
                </tr>
                <tr>
                    <th>Xanax</th>
                    <th>Anxiety</th>
                    <th>10</th>
                </tr>
            </tbody>
        </table>
        
        <br />
        <br />
        <br />

        <h3>Please input your new medication:</h3>


        

    </Authorized>
    <NotAuthorized>
        Seems like you are not logged in! Please log in or register in order to access our services.
    </NotAuthorized>
</AuthorizeView>

@code {
    

    
}
